._ {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-top: 1rem;
    cursor: pointer;
}

.title {
    font-weight: 400;
    font-size: 0.8rem;
}
