._ {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #459DF5;
}

.icon {
    width: 16px;
    height: 16px;
}

.text {
    margin-left: 0.5rem;
}
