._ {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    width: 7rem;
    height: 2rem;
    background-color: white;
    color: #459DF5;
    font-size: 0.8rem;
    font-weight: 400;
    border-style: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.icon {
    width: 16px;
    height: 16px;
}

button._:hover {
    cursor: pointer;
    background-color: #459DF5;
    color: white;
}
