.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10rem;
    user-select: none;
}

.selectedRow {
    background-color:rgba(0, 0, 0, 0.03);
}

.titleFirstColumn {
    display: flex;
    margin-left: 1rem;
}

.id {
    margin-left: 1rem;
}
