._ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: #459DF5;
    border-radius: 5px;
    margin: 1rem 0.2rem;
    cursor: pointer;
    user-select: none
}

.active {
    background-color: white;
    color: #459DF5;;
}

.invisible {
    display: none;
}

.title {
    font-weight: bold;
    font-size: 1.625rem;
}

.darkTheme {
    color: #1F2629;
}
