._ {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: stretch;
    /*min-height: fit-content;*/
    min-width: fit-content;
    height: 90vh;
    margin: 3rem;
}
