._ {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    min-height: fit-content;
    min-width: fit-content;
    height: 90vh;
    margin: 3rem;
    border: red solid 1px;
}
