._ {
    display: flex;
    border-bottom-width: 0.05rem;
    border-bottom-color: #EBF0F5;
    border-bottom-style: solid;
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    height: 2.5rem;
    text-align: left;
    width: 10rem
}

.titlePerson {
    flex-grow: 1;
}

.icon {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
}
