.orange {
    filter: invert(72%) sepia(22%) saturate(3034%) hue-rotate(321deg) brightness(100%) contrast(102%)
}

.blue {
    filter: invert(68%) sepia(74%) saturate(4398%) hue-rotate(188deg) brightness(101%) contrast(92%)
}

.green {
    filter: invert(54%) sepia(52%) saturate(2779%) hue-rotate(113deg) brightness(95%) contrast(88%);
}
