._ {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-top: 1rem;
}

.title {
    margin-left: 1rem;
    font-family: Ubuntu;
    font-size: 0.8rem;
    font-weight: 400;
}

.inputDates {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 1rem;
}

.inputDateLeft {
    background-color: white;
    width: 50px;
    margin-right: 1rem;
}
