._ {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    color: #459DF5;
    margin-left: 0.75rem;
    cursor: pointer;
}

.icon {
    width: 16px;
    height: 16px;
}

