._ {
    display: flex;
    flex-grow: 1;
    width: 50rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 7rem;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    color: black;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 1rem 1rem;
    cursor: pointer;
    user-select: none
}

.test {
    display:none
}
